	{% if page.layout == 'amp' %}
		<p>どうしてこうなるんだろう…</p>
	{% else %}
		<script type='text/javascript'>
			fortune = new Array(2);
			fortune[0] = 'every drop in the ocean counts &nbsp &nbsp &nbsp &nbsp &nbsp';
			fortune[1] = 'controversy is a part of the nature of art';
			fortune[2] = 'our cells are speaking to each other &nbsp &nbsp &nbsp &nbsp &nbsp ';

			index = Math.floor(Math.random() * fortune.length);
			document.write(fortune[index]);
		</script>
		<noscript>どうしてこうなるんだろう…</noscript>
	{% endif %}
